
@font-face {
    font-family: 'Jeko Black';
    src: url('jeko-font-family-woff/Jeko Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jeko Bold Italic';
    src: url('jeko-font-family-woff/Jeko Bold Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jeko Bold';
    src: url('jeko-font-family-woff/Jeko Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jeko Extra Bold Italic';
    src: url('jeko-font-family-woff/Jeko Extra Bold Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jeko Extra Bold';
    src: url('jeko-font-family-woff/Jeko Extra Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jeko Extra Light Italic';
    src: url('jeko-font-family-woff/Jeko Extra Light Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jeko Extra Light';
    src: url('jeko-font-family-woff/Jeko Extra Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jeko Italic Variable';
    src: url('jeko-font-family-woff/Jeko Italic Variable.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jeko Light Italic';
    src: url('jeko-font-family-woff/Jeko Light Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jeko Light';
    src: url('jeko-font-family-woff/Jeko Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jeko Medium Italic';
    src: url('jeko-font-family-woff/Jeko Medium Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jeko Medium';
    src: url('jeko-font-family-woff/Jeko Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jeko Regular Italic';
    src: url('jeko-font-family-woff/Jeko Regular Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jeko Regular';
    src: url('jeko-font-family-woff/Jeko Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jeko Semi Bold Italic';
    src: url('jeko-font-family-woff/Jeko Semi Bold Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jeko Semi Bold';
    src: url('jeko-font-family-woff/Jeko Semi Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jeko Thin Italic';
    src: url('jeko-font-family-woff/Jeko Thin Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jeko Thin';
    src: url('jeko-font-family-woff/Jeko Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jeko Variable';
    src: url('jeko-font-family-woff/Jeko Variable.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jeko Black Italic';
    src: url('jeko-font-family-woff/Jeko Black Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
