@font-face {
  font-family: 'Jeko Black';
  src: url('jeko-fonts/Jeko Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Jeko Bold Italic';
  src: url('jeko-fonts/Jeko Bold Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Jeko Bold';
  src: url('jeko-fonts/Jeko Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Jeko Extra Bold Italic';
  src: url('jeko-fonts/Jeko Extra Bold Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Jeko Extra Bold';
  src: url('jeko-fonts/Jeko Extra Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Jeko Extra Light Italic';
  src: url('jeko-fonts/Jeko Extra Light Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Jeko Extra Light';
  src: url('jeko-fonts/Jeko Extra Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Jeko Italic Variable';
  src: url('jeko-fonts/Jeko Italic Variable.ttf') format('truetype');
}
@font-face {
  font-family: 'Jeko Light Italic';
  src: url('jeko-fonts/Jeko Light Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Jeko Light';
  src: url('jeko-fonts/Jeko Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Jeko Medium Italic';
  src: url('jeko-fonts/Jeko Medium Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Jeko Medium';
  src: url('jeko-fonts/Jeko Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Jeko Regular Italic';
  src: url('jeko-fonts/Jeko Regular Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Jeko Regular';
  src: url('jeko-fonts/Jeko Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Jeko Semi Bold Italic';
  src: url('jeko-fonts/Jeko Semi Bold Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Jeko Semi Bold';
  src: url('jeko-fonts/Jeko Semi Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Jeko Thin Italic';
  src: url('jeko-fonts/Jeko Thin Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Jeko Thin';
  src: url('jeko-fonts/Jeko Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Jeko Variable';
  src: url('jeko-fonts/Jeko Variable.ttf') format('truetype');
}
@font-face {
  font-family: 'Jeko Black Italic';
  src: url('jeko-fonts/Jeko Black Italic.ttf') format('truetype');
}
